<div class="login-wrapper">
  <div class="bg-shape shape-1"></div>
  <div class="bg-shape shape-2"></div>
  <div class="bg-shape shape-3"></div>

  <div class="login-glass-card">

    <div class="card-header" *ngIf="!needsVerification">
      <div class="logo-container">
        <img src="assets/mundial.png" alt="Logo MundialHub" class="icon-pulse logo-image">
        <h1>Mundial<span class="gradient-text">Hub</span></h1>
      </div>


      <p class="subtitle">¡Colecciona, pronostica y vive la fiesta del Mundial!</p>
    </div>

    <form *ngIf="!needsVerification" (ngSubmit)="login()" #loginForm="ngForm" class="login-form fade-in">
      <div class="input-group">
        <input name="user" [(ngModel)]="credentials.user" required placeholder="Tu Usuario" type="text">
      </div>

      <div class="input-group">
        <input name="password" [(ngModel)]="credentials.password" required [type]="showPassword ? 'text' : 'password'"
          placeholder="Tu contraseña">
        <button type="button" class="btn-eye" (click)="togglePassword()">
          {{ showPassword ? 'ꗃ' : '🔒︎' }}
        </button>
      </div>

      <div class="forgot-password-container">
        <a routerLink="/forgot-password" class="forgot-password-link">¿Olvidaste tu contraseña?</a>
      </div>

      <div *ngIf="loginError" class="alert-box">
        <span class="alert-icon">!</span>
        <p>{{ loginError }}</p>
      </div>

      <button type="submit" class="btn-play" [disabled]="loginForm.invalid || isLoading">
        <span *ngIf="!isLoading" class="btn-text">¡INICIA SESIÓN!</span>
        <span *ngIf="isLoading" class="spinner"></span>
      </button>


    </form>


    <form *ngIf="needsVerification" (ngSubmit)="verifyUser()" #verifyForm="ngForm" class="login-form verification-step fade-in">

      <div class="step-header">
        <div class="pin-icon">PIN</div>
        <h2>Verifica tu Cuenta</h2>
        <p>Hemos enviado un código a tu correo.</p>
      </div>

      <div class="input-group pin-group">
        <input name="code" [(ngModel)]="verificationCode" required placeholder="000000" type="text" class="pin-input" maxlength="6" autocomplete="off">
      </div>

      <div *ngIf="loginError" class="alert-box">
        <span class="alert-icon">!</span>
        <p>{{ loginError }}</p>
      </div>

      <button type="submit" class="btn-play btn-verify" [disabled]="!verificationCode || isLoading">
        <span *ngIf="!isLoading" class="btn-text">VERIFICAR Y ENTRAR</span>
        <span *ngIf="isLoading" class="spinner"></span>
      </button>

      <button type="button" class="btn-neutral btn-cancel" (click)="needsVerification = false">
        Cancelar
      </button>
      
    </form>

    <div class="card-footer">
      <p>¿Aún no estás en el torneo? <a routerLink="/register">Registrarte</a></p>
    </div>

  </div>
</div>